<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_home_anim_championship_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,913},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,768},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,913},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,903},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,768},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,623},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,768},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,597},{182,159}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{182,159}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{182,169}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{182,169}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,436},{182,171}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,171}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,424},{184,171}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,171}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,609},{182,157}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{182,157}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{182,145}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{182,145}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,758},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,623},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_championship_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{182,143}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{182,143}}</string>
                <key>sourceSize</key>
                <string>{190,175}</string>
            </dict>
            <key>img_home_anim_crazyrace_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1259},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1259},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1259},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1404},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1394},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1231},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1086},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1231},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1221},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1058},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,913},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1193},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1058},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1048},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1259},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_crazyrace_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1259},{175,171}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>img_home_anim_tcm_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{231,215}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{231,215}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{231,227}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{231,227}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,239}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{231,239}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,422},{231,199}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{231,199}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,215},{231,205}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{231,205}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{231,211}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{231,211}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,231},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
            <key>img_home_anim_tcm_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{231,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{231,203}}</string>
                <key>sourceSize</key>
                <string>{257,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_home_icon_animation.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a3ed18208be832c6cd7370611c95dd:1/1$</string>
            <key>textureFileName</key>
            <string>img_home_icon_animation.png</string>
        </dict>
    </dict>
</plist>
