<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_normal_match_rank_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1161},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1161},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1161},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1155},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1054},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1054},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1054},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1060},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1060},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1054},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,953},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,953},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,953},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,959},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,959},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,953},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,852},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1250},{140,93}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1430},{140,83}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{140,83}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1343},{140,87}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{140,87}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,852},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1155},{140,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,97}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,751},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,751},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,852},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,858},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1155},{140,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,97}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1254},{140,87}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{140,87}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1155},{140,93}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,858},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,852},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,751},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_083.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_084.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_085.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,105}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_087.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,751},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_088.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1254},{140,91}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_089.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1345},{140,83}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{140,83}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,751},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_090.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1256},{140,89}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{140,89}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>img_normal_match_rank_icon_091.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,751},{140,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_normal_match_rank_icon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c9cbc0ac0cc27be540a78ff3cf08141:1/1$</string>
            <key>textureFileName</key>
            <string>img_normal_match_rank_icon.png</string>
        </dict>
    </dict>
</plist>
