<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,22},{150,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{150,10}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{152,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{152,14}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{154,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{154,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{152,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{152,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>img_loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,22},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,18}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_loading.png</string>
            <key>size</key>
            <string>{1524,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:778d67f3123f18fda4a9812501e0a6e4:0830f1ff9386210184aee553bb91f2dc:b5849a059469393eeedc4259a9a7188e$</string>
            <key>textureFileName</key>
            <string>img_loading.png</string>
        </dict>
    </dict>
</plist>
