<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_amount_diamond_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,289},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,254},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,250},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,252},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,250},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,215},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,211},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,213},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,211},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,176},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,174},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,172},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,133},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_diamond_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,133},{43,37}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,135},{43,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,92},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{43,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,133},{43,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{43,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,92},{43,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{43,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_amount_gold_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_amount_gold_diamond.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73201e97700148288eacb77e532ac315:1/1$</string>
            <key>textureFileName</key>
            <string>img_amount_gold_diamond.png</string>
        </dict>
    </dict>
</plist>
