<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_crazy_free_border1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{624,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{624,624}}</string>
                <key>sourceSize</key>
                <string>{624,626}</string>
            </dict>
            <key>img_crazy_free_border2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,626}}</string>
                <key>sourceSize</key>
                <string>{624,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_crazy_free_border.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a230910b7074cddaa75268f8304ef658$</string>
            <key>textureFileName</key>
            <string>img_crazy_free_border.png</string>
        </dict>
    </dict>
</plist>
