<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_away_corner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,356},{48,42}}</string>
                <key>offset</key>
                <string>{-286,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,111},{48,42}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,158},{86,76}}</string>
                <key>offset</key>
                <string>{-268,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,77},{86,76}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,122},{132,116}}</string>
                <key>offset</key>
                <string>{-244,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{132,116}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,154}}</string>
                <key>offset</key>
                <string>{-223,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{176,154}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,236},{48,44}}</string>
                <key>offset</key>
                <string>{288,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{639,109},{48,44}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{86,76}}</string>
                <key>offset</key>
                <string>{269,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{601,77},{86,76}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{132,118}}</string>
                <key>offset</key>
                <string>{246,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,35},{132,118}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_away_corner_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,154}}</string>
                <key>offset</key>
                <string>{224,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,0},{176,154}}</string>
                <key>sourceSize</key>
                <string>{750,154}</string>
            </dict>
            <key>img_home_corner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,355},{42,33}}</string>
                <key>offset</key>
                <string>{-182,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,281},{72,55}}</string>
                <key>offset</key>
                <string>{-171,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,400},{112,87}}</string>
                <key>offset</key>
                <string>{-157,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,158},{158,121}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,0},{158,121}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,356},{42,33}}</string>
                <key>offset</key>
                <string>{188,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{542,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,282},{72,55}}</string>
                <key>offset</key>
                <string>{177,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{516,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{112,87}}</string>
                <key>offset</key>
                <string>{163,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
            <key>img_home_corner_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{158,121}}</string>
                <key>offset</key>
                <string>{147,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,0},{158,121}}</string>
                <key>sourceSize</key>
                <string>{750,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_corner_kick.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6248488f5c7e13a163a68bd8e84f392:1/1$</string>
            <key>textureFileName</key>
            <string>img_corner_kick.png</string>
        </dict>
    </dict>
</plist>
