<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_ground_goal_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,696},{351,301}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,101},{351,301}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,712},{359,345}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,96},{359,345}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1643},{381,395}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,90},{381,395}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,2},{441,467}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,54},{441,467}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{513,545}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,14},{513,545}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{513,545}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{513,545}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{513,545}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{513,545}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,545}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{513,545}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{379,397}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,84},{379,397}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,445},{363,313}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,89},{363,313}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{355,187}}</string>
                <key>offset</key>
                <string>{2,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,95},{355,187}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,517},{351,181}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,101},{351,181}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,359},{351,181}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,101},{351,181}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{361,189}}</string>
                <key>offset</key>
                <string>{6,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,89},{361,189}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,365},{357,187}}</string>
                <key>offset</key>
                <string>{10,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,85},{357,187}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
            <key>img_ground_goal_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,517},{355,177}}</string>
                <key>offset</key>
                <string>{11,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{355,177}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_ground_goal.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e06f19d57f143d94f125f2f3a09cf6e:1/1$</string>
            <key>textureFileName</key>
            <string>img_ground_goal.png</string>
        </dict>
    </dict>
</plist>
